{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Главная</title>
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">`
	<link rel="stylesheet" href="{% static "DIF/css/main.css" %}" type="text/css"/>
</head>
<body>


<div class="titul">
	<div class="header">
		<div class="top-panel">
			<ul>
				<li class="tel">+7 967 532 56 36</li>
				<li class="mail">nfo@cinvest.ru</li>
			</ul>
		</div>
		<div class="menu">
			<a href="#"><div class="logo"></div></a>
			<a href="#"><div class="lang">English</div></a>
			<ul>
				<a href="#"><li>Главная</li></a>
				<a href="#"><li>О фонде</li></a>
				<a href="#"><li>Средства фонда</li></a>
				<a href="#"><li>Доходность проекта</li></a>
				<a href="#"><li>Партнеры/менторы</li></a>
				<a href="#"><li>Команда</li></a>
				<a href="#"><li>Контакты</li></a>
				<a href="/login"><li class="account">Личный кабинет</li></a>
			</ul>
		</div>



	</div>
		<div class="main">
			<div class="slogan">Мы делаем инвестиции в</br> криптоактивы доступными для всех!</div>
			<div class="sidebar">
				<a href="#"><div class="first">Принцип работы</br> фонда</div></a>
				<a href="#"><div class="first">Процесс</br> инвестирования</div></a>
				<a href="#"><div class="last">Правовые</br> аспекты</div></a>
			</div>
		</div>
	</div>





	</div>

</body>	