<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Идентификация</title>
	<link rel="stylesheet" href="css/identification.css">
</head>

<body>

<div class="container">
	<div class="header">
		<a href="main.html"><div class="logo"></div></a>
		<div class="top-menu">
			<ul>
				<li><a href="#">Инвестировать</a></li>
				<li><a href="#">Мои инвестиции</a></li>
				<li><a href="#">Вывод средств</a></li>	
			</ul>
		</div>
		<div class="side-menu">
			<ul>
				<a href="#" class="exit"><li class="exit">Выход</li></a>
				<a href="#"><li>Идентификация</li></a>
				<a href="#"><li>Вывод средств</li></a>
			</ul>
		</div>
	</div>
</div>

<div class="lang">
	<a href="#"><div class="rus"></div></a>
	<a href="#"><div class="eng"></div></a>
	<a href="#"><div class="chi"></div></a>
</div>

<h1>Идентификация</h1>

<div class="important">
	<div class="container">
	Для проверки соблюдения вами условий пользования, а также противодействия отмыванию 
	денежных средств</br> и легализации преступных доходов каждый пользователь должен пройти
	процедуру KYC - предоставить необходимые документы.
	</div>
</div>

<div class="main">
	<div class="container">
		<p>Для того, чтобы получить доступ к вложению средств в Jion Capital, необходимо предоставить:</p>
		<ol>
			<li>Фотографию высокого качества основного разворота общегражданского паспорта</br><span>или</span></br>Фотографию высокого качества основного разворота загранпаспорта</br><span>или</span></br>Фотографию высокого качества водительских прав</li>
			<li>Фотографию владельца предоставленного документа с данным документом в руке - 
			на фотографии должно быть четко видно лицо владельца документа, а также сам документ</li>
			<li><span>Опционально</span>: в случае подозрений о предоставлении ложных сведений может быть идивидуально запрошена информация об источниках доходов</li>
		</ol>
	
		<form action="" method="post">
			<div class="photo">
			<label for="name">Фотография документа</label>
			<input type="file" accept="image/*" name="photo-of-doc" required>	
			<label for="name">Фотография с документом</label>
			<input type="file" accept="image/*" name="photo-with-doc" required>
			</div>
			<div class="attention"><span>Внимание</span></br>Документы будут проверены в течение 72 часов</br>После этого вы сможете инвестировать</div>
			<div class="check">
			<input type="checkbox" required><label for="check">Я согласен с <a href="#">Условиями предоставления данных</a></label>
			</div>
			<input type="submit" value="Отправить">
		</form>	
 	</div>	

</div>






</body>